@import "../../style.scss";


.RightBar{
    @include themify($themes){
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgsoft");

    @include mobile{
        display: none;
      }

    @include tablet{
        display: none;
      }
    

    &::-webkit-scrollbar{
        display: none;
    }

    .container{
        padding: 20px;

        .item{
            -webkit-box-shadow: -9px 13px 8px -6px rgba(158,142,158,1);
            -moz-box-shadow: -9px 13px 8px -6px rgba(158,142,158,1);
             box-shadow: -9px 13px 8px -6px rgba(158,142,158,1);
             padding: 20px;
             margin-bottom: 20px;
             background-color: themed("bg");
            span{
                color:gray;
            }
            .user{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0px;

                .userInfo{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    position: relative;
                    img{
                        width:40px ;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;

                    }

                    .online{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: limegreen;
                        position: absolute;
                        top: 0;
                        left: 30px;
                    }

                    p{
                        color: themed("textcolorsoft");
                    }
                       
                    span{
                        font-weight: 500;
                        color:themed("textcolor");

                    }

                    
                }

                .buttons{
                    display: flex;
                    align-items: center;
                    gap: 10px;


                    button{
                        border: none;
                        padding: 5px;
                        color: white;
                        cursor: pointer;

                        &:first-child{
                            background-color: blue;
                        }
                        &:last-child{
                            background-color: rgb(232, 15, 69);
                        }
                    }

                }
            }
        }
    }
}
}